body {
	background-color: #191919;

	box-sizing: border-box;

	color: #ffffff;
	font-family: monospace;

	overflow-y:scroll;
	overflow-x: auto;
}

h1 {
	font-size: 80px;
	text-align: center;

}
h2 {
	font-size: 30px;
}
h3{
	font-size: 60px;
	text-align: center;

}

h4{
	text-align: center;
	font-family: monospace;
}

p {
	font-size: 16px;
	font-family: monospace;
}
ol {
	font-size: 16px;
	font-family: monospace;
}
a{
	color: #2eba45;
}

img {
   padding:1px;
   border:1px solid #021a40;
   border-color: #ffffff;
}
.main {
	width:100%;
	max-width: 900px;
	margin:0 auto;
	margin-top:15px;

	border-radius:5px;

	/*DEBUG ONLY*/
	/*border: 1px solid red;*/
	/*test*/
}

.navbar {
	width: 100%;
	margin:0 auto;
	font-size: 16px;
}

.currentPage {
	color: #1b7229;
}

.image{
	height: auto;
	width: 100%;
	display:block;
	margin:auto;
}

.code {
	background-color: #4f4e4e;
	max-height: 300px;
	overflow-y: scroll;
}

.permalink {
	font-style: italic;
	font-size: 11px;
	color: #f7f7f7;
}
