body {
	background-color: rgb(186,219,219);

	box-sizing: border-box;
	border: 10px solid rgb(81, 114, 114);
	border-radius: 50px;
	border-style: double;

	color: rgb(81, 114, 114);
	font-family: Impact;

	overflow:scroll;
}

h1 {
	font-size: 80px;
	text-align: center;

}
h3{
	font-size: 30px;
	text-align: center;

}

h4{
	text-align: center;
	font-family: Palatino Linotype;
}

p {
	font-size: 16px;
	font-family: Palatino Linotype;
}
a {
	color: rgb(45,63,63);
}

.main {
	width:800px;
	margin:0 auto;

	background-color: rgb(237,251,255);
	border-radius:40px;
	border: 5px solid rgb(237,251,255);

	/*DEBUG ONLY*/
	/*border: 1px solid red;*/
}

.navbar {
	width: 700px;
	margin:0 auto;

	border: 1px solid red;

	display:table;
}

.currentPage {
	color: rgb(78, 81, 109);
}